/*************************************  
BASE STYLES  
**************************************/
:root {
	--primary-color:     #ffffff;
	--main-background:   #3A4663;
	--screen-background: #181F33;
	--toggle-background: #242D44;
	--keypad-background: #242D44;
	--primary-keys-background:  #EAE3DC;
	--primary-keys-text-color:  #434A59;
	--primary-keys-box-shadow:  #B3A497;
	--primary-keys-hover-color: #ffffff;
	--secondary-keys-background:  #647198;
	--secondary-keys-text-color:  #FFFFFF;
	--secondary-keys-box-shadow:  #414E73;
	--secondary-keys-hover-color: #A2B2E1;
	--equal-key-background:  #D03F2F; /* ALSO THE TOGGLE BUTTON COLOR */
	--equal-key-text-color:  #FFFFFF;
	--equal-key-box-shadow:  #93261A; 
	--equal-key-hover-color: #F96B5B; /* ALSO THE TOGGLE BUTTON COLOR */
}

*,
*:after,
*:before {
  	box-sizing: border-box;
}

html {
  	font-size: 32px;
	font-weight: 700;
	font-family: 'League Spartan', sans-serif;
}

body {
	margin: auto;
	color: var(--primary-color);
	background-color: var(--main-background);
}

h1 {
	font-size: 1rem;
	margin: 0 0 -0.17rem 0;
}

h2 {
	margin: 0;
  	font-size: 0.375rem;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--equal-key-background);
}

span {
	width:  0.5rem;
	height: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 100%;
	height: 2.75rem;
	margin: 1rem 0 0.75rem;
	padding: 0 1rem;
	text-align: right;
	display: block;
	font-size: 1.25rem;
	border: none;
	border-radius: 10px;
	color: var(--primary-color);
	background-color: var(--screen-background);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
	font-size: 1rem;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

footer {
	font-size: 0.5rem;
	text-align: center;
	padding: 0.5rem 1rem;
	letter-spacing: 0.02rem;
}

/*************************************  
HELPER STYLES
**************************************/
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 540px;
}

.active-theme {
	background-color: var(--equal-key-background);
}

/*************************************  
HEADER STYLES
**************************************/
.header {
	height: 1.313rem;
	margin-top: 0.938rem;
	display: flex;
	align-items: flex-end;
}
	.header__theme-text {
		margin-left: auto;
		letter-spacing: 0.031rem;
		margin-bottom: 0.147rem;
		padding-right: 0.781rem;
	}
	.header__numbers {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
/*************************************  
CURRENT STYLES
**************************************/
.select {
	width:  2.219rem;
	height: 0.813rem;
	padding: 0 0.02rem;
	border-radius: 13px;
	background-color: var(--toggle-background);
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
	.select__btn {
		width:  0.5rem;
		height: 0.5rem;
		border-radius: 50%;
	}
	.select__btn:hover {
		background-color: var(--equal-key-hover-color);
	}

/*************************************  
KEYPAD STYLES
**************************************/
.keypad {
	height: 13.125rem;
	font-size: 0.625rem;
	padding: 24px 24px 0;
	background-color: orange;
	border-radius: 10px;
	background-color: var(--keypad-background);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*************************************  
BUTTON STYLES
**************************************/
.btn {
	width: 22%;
	max-width: 3.156rem;
	padding-top: 6px;
	height: 1.875rem;
	color: var(--primary-keys-text-color);
	border-radius: 10px;
	background-color: var(--primary-keys-background);
	box-shadow: inset 0px -4px 0px var(--primary-keys-box-shadow);

	
}
.btn:hover {
	background-color: var(--primary-keys-hover-color);
}

.btn--secondary {
	color: var(--secondary-keys-text-color);
	font-size: 0.625rem;
	background-color: var(--secondary-keys-background);
	box-shadow: inset 0px -4px 0px var(--secondary-keys-box-shadow);
}
.btn--secondary:hover {
	background-color: var(--secondary-keys-hover-color);
}

.btn--reset,
.btn--equals {
	width: 48%;
	max-width: 7.219rem;
}

.btn--equals {
	color: var(--equal-key-text-color);
	background-color: var(--equal-key-background);
	box-shadow: inset 0px -4px 0px var(--equal-key-box-shadow);
}
.btn--equals:hover {
	background-color: var(--equal-key-hover-color);
}

/*************************************  
MEDIA QUERIES
**************************************/
@media (min-width: 540px) { 
	body {
		font-size: 40px;
	}

	input {
		height: 4rem;
		font-size: 1.75rem;
	}

	button {
		font-size: 1.313rem;
	}

	.header {
		height: 1.375rem;
		margin-top: 3.063rem;
	}
	
	.keypad {
		height: 15rem;
	}

	.btn-special {
		font-size: 0.875rem;
	}

	footer {
		padding-top: 1rem;
	}
}